<div class="wrapper">
  <main *ngIf="posts.length>0">
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
              <div class="main-left-sidebar no-margin">
                <div class="user-data full-width">
                  <div class="user-profile">
                    <div class="username-dt">
                      <div class="usr-pic">
                        <img src="{{user?.profile_image_url}}" alt="">
                      </div>
                    </div>
                    <div class="user-specs">
                      <h3>{{user?.name}}</h3>
                      <span>{{user?.description}}</span>
                    </div>
                  </div>
                  <ul class="user-fw-status">
                    <li>
                      <h4>Following</h4>
                      <span>{{user?.public_metrics?.following_count}}</span>
                    </li>
                    <li>
                      <h4>Followers</h4>
                      <span>{{user?.public_metrics?.followers_count}}</span>
                    </li>
                    <li>
                      <a href="#" title="">View Profile</a>
                    </li>
                  </ul>
                </div>
                <div class="suggestions full-width">
                  <div class="sd-title">
                    <h3>Following</h3>
                    <i class="la la-ellipsis-v"></i>
                  </div>
                  <div class="suggestions-list">
                    <div *ngFor="let fellowing of fellowings" class="suggestion-usd">
                      <img src="http://via.placeholder.com/35x35" alt="">
                      <div class="sgt-text">
                        <h4>{{fellowing.name}}</h4>
                        <span>{{fellowing.description}}</span>
                      </div>
                      <span><i class="la la-plus"></i></span>
                    </div>

                    <div class="view-more">
                      <a href="#" title="">View More</a>
                    </div>
                  </div>
                </div>
                <div class="tags-sec full-width">
                  <ul>
                    <li><a href="#" title="">Help Center</a></li>
                    <li><a href="#" title="">About</a></li>
                    <li><a href="#" title="">Privacy Policy</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                    <li><a href="#" title="">Cookies Policy</a></li>
                    <li><a href="#" title="">Career</a></li>
                    <li><a href="#" title="">Language</a></li>
                    <li><a href="#" title="">Copyright Policy</a></li>
                  </ul>
                  <div class="cp-sec">
                    <img src="../assets/images/logo2.png" alt="">
                    <p><img src="../assets/images/cp.png" alt="">Copyright 2022</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 no-pd">
              <div class="main-ws-sec">
                <div class="posts-section">
                  <div class="persoCard" *ngFor="let post of posts;let index=index">
                    <div class="post-bar">
                      <div class="post_topbar">
                        <div class="usy-dt">
                          <img src="{{post?.user?.profile_image_url}}" alt="">
                          <div class="usy-name">
                            <h3>{{post?.user?.name}}</h3>
                            <span><img src="../assets/images/clock.png" alt="">{{post.time}}</span>
                          </div>
                        </div>
                        <div class="ed-opts">
                          <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                          <ul class="ed-options">
                            <li><a href="#" title="">Edit Post</a></li>
                            <li><a href="#" title="">Unsaved</a></li>
                            <li><a href="#" title="">Unbid</a></li>
                            <li><a href="#" title="">Close</a></li>
                            <li><a href="#" title="">Hide</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="job_descp">
                        <p>{{post?.full_text}} </p>

                      </div>
                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a href="#"><i class="la la-heart"></i> Like</a>
                            <img src="../assets/images/liked-img.png" alt="">
                            <span>{{post?.favorite_count}}</span>
                          </li>
                        </ul>
                        <a><i class="la la-eye"></i>Retweet {{post?.retweet_count}}</a>
                      </div>
                    </div>
                    <div class="card__overlay" *ngIf="post.isharmfulll">
                      <div class="overlay__text">
                        <div class="w-100">
                          <canvas baseChart [datasets]=post.dataset [labels]=post.labels [legend]=barChartLegend
                            [chartType]='"bar"' [options]="this.barChartOptions">
                          </canvas>
                        </div>
                        <p>this content is emotionally harmfull for certain users, do you want to proceed anyways? <span
                            style="cursor: pointer;" (click)="watchAnyways(post)">yes</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 pd-right-none no-pd">
              <div class="right-sidebar">
                <div class="widget widget-jobs">
                  <div class="sd-title">
                    <h3>Trends for you</h3>
                    <i class="la la-ellipsis-v"></i>
                  </div>
                  <div class="jobs-list">
                    <div *ngFor="let trend of trends" class="job-info">
                      <div class="job-details">
                        <h3>{{trend?.name}}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                      </div>
                      <div class="hr-rate">
                        <span>{{trend?.tweet_volume| numberSuffix }} Tweets</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget widget-jobs">
                  <div class="sd-title">
                    <h3>Followers</h3>
                    <i class="la la-ellipsis-v"></i>
                  </div>
                  <div *ngFor="let fellower of fellowers" class="jobs-list">
                    <div class="job-info">
                      <div class="job-details">
                        <h3>{{fellower?.name}}</h3>
                        <p>{{fellower.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
